input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #333;
  transition: background-color 5000s ease-in-out 0s;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
@font-face {
  font-family: "inter";
  src: url("../fonts/Inter/static/Inter-Medium.ttf") format("woff2");
}

body {
  font-family: "inter", sans-serif;
}

/* Start of navbar */
.navbar {
  position: fixed; /* Fixed position to keep the navbar at the top */
  top: 0; /* Stick the navbar to the top of the screen */
  width: 100%; /* Full width of the viewport */
  z-index: 1000; /* Ensure the navbar appears above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: #ffffff; /* Background color of the navbar */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.logo1 {
  width: 20%;
  transition: transform 0.3s ease;
}

.logo2 {
  width: 70%;
  background: "none";
  transition: transform 0.3s ease;
}

#logo-container:hover .logo1,
#logo-container:hover .logo2 {
  transform: scale(1.1);
}

.navbar-middle {
  padding-right: 10%;
}

.navbar-middle ul {
  list-style-type: none;
  display: flex;
}

.navbar-middle ul li {
  margin-right: 35px;
}

.navbar-middle ul li a {
  color: #000000;
  text-decoration: none;
  position: relative;
}

.navbar-middle ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 3px;
  width: 0;
  background-color: #6c194d;
  transition: width 0.3s ease; /* Add transition for width change */
}

.navbar-middle ul li a:hover::after {
  width: 100%; /* Expand the underline on hover */
}
.navbar-middle ul li a.active::after {
  width: 100%; /* Expand the underline for active link */
}

.navbar-right {
  width: 10%;
}
.navbar-right button {
  background-color: transparent;
  border: 1px solid #020202;
  color: #000000;
  padding: 11px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for color, background-color, and border-color */
}

.navbar-right button:hover {
  background-color: #020202;
  color: #ffffff;
  border-color: #ffffff;
}
.navbar-right img {
  width: 50px;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

.navbar-right img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* End of navbar */

/* Start of home */
.home-container {
  display: flex;
  margin-top: 8%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0; /* Initially set opacity to 0 */
  transform: translateY(50px); /* Initially set translation */
  transition: opacity 0.5s, transform 0.5s; /* Add transition for opacity and transform */
}

.home-container.loaded,
.company-container.loaded,
.login-container.loaded,
.companies-container.loaded,
.signup-container.loaded,
.about-container.loaded {
  opacity: 1; /* Set opacity to 1 when loaded */
  transform: translateY(0); /* Set translation to 0 when loaded */
}

.left-side {
  width: 40%;
}

.left-column {
  padding-left: 12px;
}

.seeker-title h1,
.recruiter-title h1,
.about-title h1,
.companies-title h1,
.left-column h1 {
  cursor: default;
  font-weight: bold;
  font-size: 55px;
}

.left-column p {
  width: 75%;
  cursor: default;
  font-size: 17px;
  line-height: 32px;
}
.left-column button {
  margin-top: 5%;
  background-color: #000000;
  border: 1px solid #020202;
  color: #ffffff;
  padding: 11px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s; /* Add transition for color, background-color, and border-color */
}

.left-column button:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.right-side {
  display: flex;
  flex-direction: column; /* Stack items in a column */
  width: 50%;
}

.big-square {
  display: flex;
  height: 40vh;
  background: linear-gradient(135deg, #6c194d, #b03257);
  border-radius: 35px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4); /* Increase shadow intensity */
}

.right-text h1 {
  width: 60%;
  padding-left: 30px;
  cursor: default;
  font-weight: 200;
  color: white;
  font-size: 35px;
}
.right-text p {
  width: 65%;
  padding-left: 30px;
  color: white;
  cursor: default;
  font-size: 17px;
  line-height: 32px;
  font-weight: lighter;
}

.small-square {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
  width: 110%; /* Expand container width */
  margin-left: -10%; /* Adjust margin to center the content */
  height: 30vh; /* Example height for demonstration */
}

.black-square {
  display: flex;
  align-items: center;
  border-radius: 35px;
  width: 40%; /* Adjust the width as needed */
  height: 35vh;
  background: linear-gradient(135deg, #000000, #333333);
  border-radius: 35px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
  margin-top: -2%;
}

.black-square h1 {
  cursor: default;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  font-weight: 200;
  color: white;
  font-size: 30px;
  line-height: 1.4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
}

.image-square {
  width: 55%; /* Adjust the width as needed */
  border-radius: 35px; /* Apply rounded corners */
  overflow: hidden; /* Ensure the image stays within the container */
}

.home-image {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 35px; /* Apply rounded corners */
  transition: transform 0.3s ease; /* Add transition for smooth zoom effect */
}

.home-image:hover {
  transform: scale(1.1); /* Scale the image by 10% when hovered */
}

/* End of home */

/* Start of companies */
.companies-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
  margin-top: 5%;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.companies-title {
  text-align: center;
  width: 30%;
}

.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slides {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align images */
  width: 70%;
  height: 250px; /* Set a fixed height for the slides container */
  overflow: hidden; /* Ensure images don't overflow */
}

.slides img {
  width: 130px;
  margin: 10px;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

/* End of companies */

/* Start of about */
.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about-title {
  text-align: center;
  width: 28%;
}

.about-title p {
  text-align: center;
  cursor: default;
  font-size: 17px;
  line-height: 32px;
  margin-top: -5%;
}

.about-input {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 40vh;
}

.input-row {
  display: flex;
  margin-bottom: 2.5%;
}

.name-input,
.email-input {
  flex: 1;
  margin-right: 10px;
}

.message-input {
  font-family: inherit; /* Use the same font as the website */
  resize: none; /* Prevent resizing */
}

.name-input:focus,
.email-input:focus,
.message-input:focus {
  outline: none;
  border-color: #ccc;
}

.name-input,
.email-input,
.message-input {
  flex: 1;
  margin-right: 10px;
  border: 0px solid #ccc; /* Set border color */
  border-radius: 13px; /* Set border radius */
  padding: 10px; /* Add padding */
  padding-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Add shadow */
}

.send-button {
  width: 20%;
}
.about-button {
  display: flex;
  justify-content: center;
}

.about-input button {
  margin-top: 5%;
  background-color: #000000;
  border: 1px solid #020202;
  color: #ffffff;
  padding: 11px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s; /* Add transition for color, background-color, and border-color */
}

.about-input button:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

.about-title.reviews {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.slideshow.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 70px;
}

.reviews-profile-picture {
  display: flex;
  justify-content: center;
}

.reviews-profile-picture img {
  width: 70px;
}

.reviews-name {
  cursor: default;
  font-weight: bold;
  font-size: 25px;
}

.reviews-message {
  width: 75%;
  cursor: default;
  font-size: 17px;
  line-height: 32px;
  text-align: center;
}
/* End of about */

/* Start of Login */
.login-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  opacity: 0; /* Initially set opacity to 0 */
  transform: translateY(50px); /* Initially set translation */
  transition: opacity 0.5s, transform 0.5s; /* Add transition for opacity and transform */
}

.left-side.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%; /* Adjust width as needed */
}

.login-img {
  width: 50%;
  border-radius: 15px;
  transition: transform 0.5s ease; /* Add transition for smooth zoom effect */
}
.login-p {
  cursor: default;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  text-align: center;
  line-height: 32px;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  width: 50%;
}

.login-input:focus {
  outline: none;
  border-color: #ccc;
}

.login-input {
  margin-bottom: 6%;
  border: 0px solid #ccc; /* Set border color */
  border-radius: 13px; /* Set border radius */
  padding: 10px; /* Add padding */
  padding-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Add shadow */
}
.custom-file-button {
  /* Same style as .login-input */
  display: flex;
  flex-direction: column;
  border: 0px solid #ccc; /* Set border color */
  border-radius: 13px; /* Set border radius */
  padding: 10px; /* Add padding */
  padding-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25); /* Add shadow */
  background-color: white; /* Ensure the background is white */
  text-align: start; /* Center-align the text */
  cursor: pointer; /* Change cursor to indicate clickability */
  margin-bottom: 5%;
}

.hidden-file-input {
  margin-top: -7%;
  z-index: -10;
}

.custom-file-button-text {
  color: #787878; /* Text color for the custom button */
  font-size: 12.5px;
}

.login-no-acc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-no-acc p {
  cursor: default;
  padding-top: 10px;
  font-size: 15px;
  line-height: 32px;
}
.signup-link {
  text-decoration: none;
  color: #6c194d;
  font-size: 15px;
  margin-top: -7%;
  font-weight: 800;
}
.login-btn {
  margin-top: 7%;
  background-color: #6c194d;
  border: 0px;
  color: white;
  padding: 14px 35px;
  border-radius: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for color, background-color, and border-color */
}

.login-btn:hover {
  background-color: #8e1f65;
  color: #ffffff;
  border-color: #ffffff;
}
.right-side.login {
  width: 60%;
  overflow: hidden; /* Ensure the image stays within the container */
  border-radius: 15px;
  margin-top: 5px;
}

.right-side.login img {
  width: 100%;
  height: 90vh;
  border-radius: 15px;
  transition: transform 0.5s ease; /* Add transition for smooth zoom effect */
}

.right-side.login img:hover {
  transform: scale(1.1); /* Scale the image by 10% when hovered */
}
.login-btn-ctn {
  margin-top: 5%;
}
.error-message {
  color: red;
  font-size: 14px;
}

.error-space {
  height: 30px;
}

/* End of Login */

/* Start of Signup */
.signup-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-right: 20px;
  opacity: 0; /* Initially set opacity to 0 */
  transform: translateY(50px); /* Initially set translation */
  transition: opacity 0.5s, transform 0.5s; /* Add transition for opacity and transform */
}
.signup.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup.main img {
  width: 50%;
  border-radius: 15px;
  transition: transform 0.5s ease; /* Add transition for smooth zoom effect */
}
.signup.main > p {
  cursor: default;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 32px;
}

.signup-box {
  margin-top: 10%;
  width: 450px; /* Adjust width as needed */
  height: 250px; /* Adjust height as needed */
  background-color: #ffffff; /* Set background color */
  border-radius: 10px; /* Set border radius for rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.signup-box-h1 {
  padding-bottom: 20px;
  padding-left: 25px;
}
.signup-box-btns {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
}

.select-btn {
  margin-top: 5%;
  background-color: #000000;
  border: 1px solid #020202;
  color: #ffffff;
  padding: 11px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, border-color 0.4s; /* Add transition for color, background-color, and border-color */
}

.select-btn:hover {
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
}

/* End of Signup */

/* Start of Footer */
.footer-link {
  color: white;
}

.footer {
  margin-top: 5%;
  background: #222;
  padding: 2rem 0;
}

.footer-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  color: #fff;
  margin-top: 1em;
  margin-right: 1em;
}

.footer-col h4 {
  text-transform: capitalize;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.footer-col ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
}

.footer-col ul li a {
  color: #ececec;
}

.footer-col ul li a:hover {
  color: #fff;
}

.footer-bottom {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.footer-bottom p {
  color: #ececec;
}

.social-icons {
  display: flex;
}

.social-icons li {
  margin-right: 10px;
}

.footer-col p {
  font-size: 0.7em;
  margin-bottom: 0.8em;
  margin-top: -1em;
}

.newsletter-form {
  display: flex;
  align-items: center;
}
.news-input {
  padding: 0.6em 1em;
  border: none;
}

.news-input:focus {
  outline: none;
}

.news-btn {
  padding: 0.6em 1em;
  background-color: #aca0a0;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 776px) {
  .footer-content {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .footer-content {
    width: 95vw;
    max-width: 1170px;
  }
}
/* End of Footer */

/* Start of Seeker home */
.home-container.seeker {
  flex-direction: column;
  align-items: center;
}

.seeker-page {
  width: 85%;
}
.seeker-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -2%;
}

.seeker-title.feedback {
  margin-top: 8%;
}

.recruiter-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -2%;
}
.recruiter-btn-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

.seeker-title button {
  background-color: transparent;
  border: 1px solid #020202;
  color: #000000;
  padding: 10px 30px;
  height: 40%;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Add transition for color, background-color, and border-color */
}
.recruiter-btn-filter button {
  background-color: transparent; /* Background can be transparent or any color you prefer */
  color: #000000; /* Text/icon color */
  padding: 10px; /* Adjust padding for desired button size */
  border-radius: 50%; /* Circular shape */
  width: 40px; /* Equal width and height to maintain circular shape */
  height: 40px;
  display: flex; /* Use flexbox to align the content */
  justify-content: center; /* Center the icon horizontally */
  align-items: center; /* Center the icon vertically */
  cursor: pointer; /* Pointer cursor for interactivity */
  border: 1px solid #ccc; /* Border with lighter color */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Shadow with slight blur */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.recruiter-btn-filter button:hover {
  background-color: rgba(47, 47, 47, 0.036); /* Change background on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Increase shadow on hover */
}
.recruiter-btn-filter svg {
  font-size: 16px; /* Adjust the size of the icon as needed */
  margin: 0; /* Ensure there's no additional margin */
  padding: 0; /* Ensure there's no additional padding */
  color: #6c194d;
}

.seeker-title button:hover {
  background-color: #020202;
  color: #ffffff;
  border-color: #ffffff;
}

.job-listing {
  display: flex;
  width: 315px;
  height: 130px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.2s ease; /* Add a transition for smooth effect */
}
.job-listing:hover {
  transform: scale(1.05); /* Increase scale on hover */
}
.job-listings-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1%;
  height: 65vh;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.job-card {
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
  transition: transform 0.2s ease; /* Add a transition for smooth effect */
}

.job-card:hover {
  transform: scale(1); /* Increase scale on hover */
}

.job-title {
  font-size: 14px;
  font-weight: medium;
}

.type-salary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 30%;
}
.salary {
  display: flex;
  flex-direction: row;
}
.salary p {
  color: #767f8c;
  font-size: 11px;
  margin-top: auto;
}
.type-box {
  position: relative;
  display: inline-flex; /* Use inline-flex to fit the box exactly to the content */
  padding: 7px 5px; /* Adjust padding as needed */
  background-color: #0ba02b11; /* Use rgba to set opacity */
  border-radius: 5px;
  height: 0%;
}

.type-box p {
  position: relative; /* Ensure text is positioned relative to its container */
  z-index: 1; /* Ensure text is above the background */
  font-size: 11px;
  color: #0ba02c;
  margin: 0;
  margin-top: -14%;
  text-transform: uppercase;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
  background-color: white;
  border: 4px solid #0ba02c;
}

.circle p {
  font-size: 13px;
  color: #0ba02c;
}

.green {
  border: 4px solid #0ba02c;
}

.red {
  border: 4px solid red;
}

.company-loc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: -5%;
  height: 40%;
}

.company-loc img {
  width: 50px;
  height: 50px;
}

.name-loc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}
.job-title.company {
  padding-left: 5%;
}

.salary.company {
  margin-top: -5%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 0 5px;
  outline: none;
  transition: transform 0.3s ease; /* Add transition for smoother animation */
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button svg {
  width: 20px;
  height: 20px;
  color: #333; /* Adjust the color as needed */
}
.pagination span {
  cursor: default;
}

.pagination button:hover {
  transform: scale(1.1); /* Scale up on hover */
}

.pagination button:hover svg {
  color: #6c194d; /* Adjust the hover color as needed */
}

.filter-input {
  border: 1px solid #ccc; /* Border with lighter color */
  border-radius: 13px; /* Same border radius as the other inputs */
  padding: 10px; /* Consistent padding */
  padding-left: 20px; /* Space for text */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); /* Subtle shadow */
  transition: box-shadow 0.2s ease-in-out; /* Smooth transition for focus effect */
}

.filter-input:focus {
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Enhance shadow on focus */
}

.filter-input:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25); /* Enhance shadow on hover */
}

.job-modal {
  display: flex;
  justify-content: space-between;
  cursor: default;
  background: white; /* Modal has a white background */
  padding: 20px; /* Padding for content */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); /* Add shadow for depth */
  width: 900px; /* Set a fixed width for consistency */
  height: 400px;
}

.job-modal button {
  background: #6c194d; /* Button color */
  color: white; /* Text color */
  border: none;
  border-radius: 5px; /* Rounded button corners */
  padding: 10px; /* Padding for the button */
  cursor: pointer;
  margin-top: 20px; /* Space between text and button */
  transition: background 0.3s ease; /* Transition effect for hover */
}

.job-modal-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.job-modal button:hover {
  background: #500f3d; /* Darker shade on hover */
}
.job-modal-header > img,
.company-header > img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  transition: transform 0.3s ease; /* Smooth transition when hovering */
}
.job-modal-header > img:hover,
.company-header > img:hover {
  transform: scale(1.05); /* Increase the size by 10% when hovered */
}

.job-modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 20px;
}
.job-modal-footer {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  font-size: 1rem; /* Adjust icon size */
  color: #333; /* Adjust icon color */
  cursor: pointer; /* Change cursor on hover */
}
.close-button.first {
  width: 80px;
  margin-right: 10%;
}
.no-listings-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.no-listings-message h1 {
  cursor: default;
}

/* End of Seeker home */

/* Start of Seeker Profile */
.profile-edit {
  width: 60%;
  margin-top: -5%;
  background-color: white;
  padding: 20px;
  border-radius: 13px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.change-message {
  color: #04c12d;
  width: 80%;
  margin-left: -8%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.editprofile-changes {
  display: flex;
  flex-direction: row;
}
.add-description {
  margin-right: 20%;
  margin-bottom: 5%;
}

.login-btn {
  background: #6c194d;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.login-inputs-profile {
  display: flex;
  justify-content: center;
}
.login-input.profile {
  margin-bottom: 5%;
  opacity: 0.5;
  cursor: not-allowed;
  width: 70%;
}
.login-input.profile-password {
  margin-bottom: 5%;
  width: 70%;
}

.login-btn:hover {
  background: #500f3d;
}
.custom-file-button.profile {
  width: 70%;
}
.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-header h1 {
  cursor: default;
}

.logout-btn {
  background: #f44336; /* Red color for the logout button */
  color: white; /* White text color */
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background: #d32f2f; /* Darker red on hover */
}

/* End of Seeker Profile */

/* Start of buffer */
.buffer-space {
  display: flex;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  justify-content: center;
}

.buffer-loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #6c194d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End of buffer */

/* Start of Company */
.company-container {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0; /* Initially set opacity to 0 */
  transform: translateY(50px); /* Initially set translation */
  transition: opacity 0.5s, transform 0.5s; /* Add transition for opacity and transform */
}

.company-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 8%;
}
.company-header h1 {
  cursor: default;
  font-weight: bold;
  font-size: 55px;
}
.job-listings-container.company {
  height: auto;
}

/* End of Company */
